@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSans.ttf");
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: IRANSans;
  background: url("./images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.icon {
  background: url("./images/Icon.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
